<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Pokemons</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="container">
  <div class="row">
    <div class="mb-4">
      <button type="button" class="btn btn-primary" (click)="add()">Nuevo Pokemon</button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Imagen</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of pokemons">
          <td>{{ item.name }}</td>
          <td>{{ item.type }}</td>
          <td>
            <img [src]="item.imageUrl" [alt]="item.name" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
